@keyframes blink {
    50% { opacity: 0.0; }
}

@keyframes pulse {
    from { opacity: 0.0; }
    50%  { opacity: 0.5; }
    to   { opacity: 1;   }
}

.blink-8 { animation: blink 0.5s step-start 0s infinite; }
.blink-16 { animation: blink 0.25s step-start 0s infinite; }
.pulse-2 {
    animation: pulse 0.75s linear 0s infinite;
    animation-direction: alternate;
}
